@forward "common/libs";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;1,600&display=swap');

html {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  color: #11142D;
  font-weight: 700; 
}