.commetn_card {
  border: 3px solid white;
  padding: 10px;
  background-image: linear-gradient(
    to top,
    (rgb(218, 248, 203), rgb(186, 244, 157))
  );
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.104);
  border-radius: 10px;
  margin-bottom: 5px;
}
