.layout_header {
  height: 80px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.112);
  background-image: linear-gradient(to bottom, (rgb(215, 215, 215), white));
  display: flex;
  align-items: center;

}
