.post_card {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.065);
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.074);
  padding: 10px;
  background-image: linear-gradient(
    to top,
    (rgb(255, 255, 255), rgb(243, 243, 243))
  );
  margin: 10px 0;

  &__content {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }
}
